<div class="bg-dark d-flex text-white justify-content-around mt-4 p-4" style="margin-top: auto;">
    <div class="start">
       <h6>Movies</h6>
       <h6>Tv Serials</h6>
       <h6>Web Series</h6>
       <h6>Reality Shows</h6>
       <h6>Join Prime</h6>
       <h6><a href="#">Help me?</a></h6>
    </div>
    <div class="middle">
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202101/Screenshot_2021-01-13_at_2.02._0_1200x768.png?uVMEc4xc1_M2gnB0HMiO_jvD5W2k1X4j&size=1200:675" width="230px" class="mt-3 " alt="">
    </div>
    <div class="end">
       <h6>Mail us: <a href="#">prime@gmail.com</a></h6>
       <h6>999999999</h6>
       <h6>Address:xyz colony</h6>
       <h6>India</h6>
    </div>
</div>
