<div class="container text-center text-white mt-5 ">
    <table class="table  table-striped text-white">
         <thead class="text-white">
             <th>Id</th>
             <th>Name</th>
             <th>Year</th>
             <th>Color</th>
         </thead>

         <tbody>
             <tr *ngFor="let ob of oneArr.data ">
              <td> {{ob.id}} </td>
              <td> {{ob.name}} </td>
              <td> {{ob.year}} </td>
              <td> {{ob.color}} </td>
            </tr>
         </tbody>
        </table>

</div>