h5
{
    color:#00e5ff;
    font-size: 30px;
    margin-top: 20px;
}
.card
{
    background-color:rgb(255, 139, 93);
}
h4
{
    color:greenyellow ;
    font-weight: bold;
}
.btn
{
    background-color: #695E93;
    color: white;
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
}