<!-- display 3 children here -->
<ul class="nav nav-pills d-flex justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link" routerLink="mobiles" routerLinkActive="active" >Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="books" routerLinkActive="active">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tvs" routerLinkActive="active">Telivisions</a>
    </li>
  </ul>
<div>
    <!-- dumy place holder -->
    <router-outlet></router-outlet>
</div>